<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload File</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div>
      {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}
    <h1>Upload File</h1>
    {% if message and link %}
    <p>{{ message }}</p>
    <a href="{{ link }}">Download</a>
    {% endif %}
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="file" />
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
